body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

.active {
    background-color: skyblue;
}

.passive {
    background-color: lightgrey;
}

.container {
    max-width: 1400px;
    margin: auto;
}

.controller {
    text-align: center;
}

.controller > button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 2px;
    text-align: center;
    vertical-align: central;
}

.hovered {
    background-color: #CCC;
}

.lhs {
    float: left;
}

.rhs {
    float: left;
}

#toggle {
    padding: 5px;
    position: relative;
    top: -120px;
    left: 40px;
    width: 100px;
}

canvas {
    width: 100%;
    height: 30vh;
}

iframe {
    width: 640px;
    height: 480px;
    margin: 10px 15px 0px 5px;
}

img {
    max-width: 60px;
    max-height: 100px;
}

table p {
    margin-top: 1px;
    margin-bottom: 5px;
}

table {
    height: 100vh;
}
td {
    vertical-align: middle;
    padding: 1px;
}
td > p {
    text-align: right;
}
th {
    text-align: center;
    background-color: lightgrey;
}
tr:first-child > td > p {
    text-align: center;
}