body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

.active {
    background-color: skyblue;
}

.passive {
    background-color: lightgrey;
}

.hovered {
    background-color: #CCC;
}

#toggle {
    padding: 5px;
    position: relative;
    top: -120px;
    left: 40px;
    width: 100px;
}

.controller > button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 2px;
    text-align: center;
    vertical-align: central;
}

canvas {
    width: 100%;
    height: 25vh;
    border: 1px solid #000000;
}

.container {
    max-width: 1400px;
    margin: auto;
}

iframe {
    width: 640px;
    height: 480px;
    margin: 10px 15px 0px 5px;
}

img {
    max-width: 60px;
    max-height: 100px;
}

.lhs {
    float: left;
}

.rhs {
    float: left;
}

.controller {
    text-align: center;
}

td {
    vertical-align: middle;
    padding: 2px;
}
thead {
    display: none;
    margin: 0;
    padding: 0;
    max-width: 50%;
}