body {
    margin: 0;
    padding: 0;
}

button {
    width: 50px;
    height: 50px;
    font-size: 32px;
    margin: 1px;
    background: lightgrey;
}

canvas {
    width: 320px;
    height: 160px;
    border: 1px solid #000000;
}

.container {
    width: 100%;
}

iframe {
    width: 600px;
    height: 450px;
    margin: 20px 0px 0px 0px;
}

img {
    max-width: 60px;
    max-height: 100px;
}

.lhs {
    float: left;
}

.rhs {
    float: right;
}

p {
    text-align: center;
}

td {
    padding: 2px;
}